.login
    width: 100%
    min-height: 100%
    &__content
        min-height: 400px
        display: flex
        justify-content: center
        .auth-form
            margin: 20px 0
            width: 300px
            border: 1px solid rgba(0,0,0,.25)
            border-radius: 20px
            padding: 20px
            display: flex
            flex-direction: column
            box-shadow: 0 4px 16px rgba(0,0,0,.25)
            &__title
                font-size: 2.5rem
                font-weight: 800
                color: #41bfef
                text-transform: uppercase
            &__description
                font-size: 1.25rem
                font-weight: 400
                letter-spacing: .5px
                margin: 15px 0
            &__login
                display: flex
                justify-content: space-between
            &__label
                font-weight: 400
                letter-spacing: .5px
            &__input
                width: 200px
            &__password
                margin-top: 10px
                display: flex
                justify-content: space-between
            &__button
                border: none
                margin-top: 10px
                background-color: #41bfef
                border-radius: 10px
                color: #fff
                padding-top: 10px
                padding-bottom: 10px
                background: linear-gradient(180deg,#6f9bcf,#66d2ea)
                &:hover
                    cursor: pointer
                    background: linear-gradient(180deg,#fb0,#ff9100)
            &__registration
                display: flex
            &__text
            &__link
                margin-left: 4px